<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container__main">
        <section class="banner">
            <div class="banner__container">
                <h2 class="banner__title">¿Qué quieres ver hoy?</h2>
                <div class="banner__search">
                    <div class="icon"><i class="fas fa-search"></i></div>
                    <input type="text" placeholder="Buscar...">
                </div>
            </div>
        </section>
        <div class="carousel__title">
            <h2>Lo más recomendados...</h2>
        </div>
        
        <section class="concept">
            <div class="concept-item">
                <img src="assets/img/image_view_1.png" alt="">         
            </div>
            <div class="concept-item">
                <h2 class="concept__title">Disfruta donde quieras</h2>
                <p class="concept__subtitle">Películas y series ilimitadas en tu teléfono, tablet, computadora y TV sin costo extra.</p>
            </div>
            <div class="concept-item">
                <img src="assets/img/image_view_2.png" alt="">         
            </div>
        </section>
    </main>
</body>
</html>