/*------------main-----------*/
.banner{
    width: 100%;
    width: 100%;
    height: 350px;
    background-image: url('https://i.blogs.es/c76165/carteles-cine-terror/1366_2000.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-bottom: 4px solid #011526;
}
.banner__container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__title{
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Poiret One', cursive;
}
.banner__search{
    display: inline-flex;
    font-size: 16px;
    height: 50px;
    width: 70%;
    margin-left: 12.5%;
    transition: all 0.5s;
    background-color: transparent;
}
.banner__search .icon{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    background-color: rgba(225, 225, 225, 0.8);
}
.banner__search input{
    width: 92%;
    height: 100%;
    outline: none;
    border:none;
    margin:0px;
    font-size: 16px;
    font-weight: bold;
    color:rgb(105, 102, 102);
    padding: 0px 10px 0px 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: rgba(225, 225, 225, 0.8);
}
::placeholder{
    color:#fff;
}
.fa-search{
    color: rgb(98, 97, 97);
}
/*--carousel-*/
.carousel{
    width: 95%;
    height: 435px;
    overflow-x: scroll;
    position: relative;
    margin: 0 auto;
    scroll-behavior: smooth;
}
/*---*/
.carousel::-webkit-scrollbar-thumb {
    background-color: rgba(115, 120, 217, 0);
    padding: 0;
    border-radius: 5px;
    border:0;
    cursor: pointer;
}

.carousel::-webkit-scrollbar {
    background-color: rgba(115, 120, 217, 0);
}
.carousel__title{
    width: 90%;
    height: auto;
    position: relative;
    margin: 0px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #011526;
}
.carousel__title h2{
    padding: 0;
    margin:30px 0 0 0;
    color: #011526;
}
.carousel__container{
    white-space: nowrap;
    margin:60px 0 40px 10px;
    padding-bottom: 10px;
    text-align: center;
}
.carousel-item{
    position: relative;
    background-color: thistle;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}
.end:hover{
    margin-right: 60px;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(30px, 0 , 30px);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}   
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.2);
    opacity: 1;
}
.carousel-item__img{
    width: 200px;
    height: 300px;
    filter: saturate(70%);
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 200px;
    font-size: 10px;
    color: #fff;
    text-align: right;
}
.carousel-item__details:hover{
    opacity: 1;
}
.carousel-item__details p{
   margin: 0;
}
.carousel-item__details--title{
    font-weight: bold;
    font-size: 14px;
}
.fa-play-circle, .fa-plus-circle{
    font-size: 20px;
    color: #F2B077;
    padding: 4px;
}
/*-------------*/
.concept{
    width: 100%;
    height: 450px;
    margin-top: 15px;
    background: linear-gradient(to top, rgba(39, 47, 197, 1) 0%, 
                rgba(0,0,0,0) 100%);
    display: grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows: auto;
    align-items: center;
}
.concept-item{
    overflow: hidden;
    place-self: center stretch;
    text-align: center;
}
.concept-item img{
    width: 80%;
}
.concept__title{
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
    text-align: center;
}
.concept__subtitle{
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: auto;
    font-size: 22px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*--------------footer--------*/
.container__footer{
    width: 100%;
    height: 50px;
    background-color: #011526;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__title{
    color: #fff;
}

@media (min-width: 1800px) {
    .carousel {
        width: 100%;
    }
    .end:hover{
        margin-right: 0px;
    }
  }
@media (max-width: 1000px) {
.concept-item img{
    width: 100%;
}
.concept__title{
    font-size: 30px;
}
.concept__subtitle{
    font-size: 18px;
}
}
@media (max-width: 700px) {
    .banner{
        background-size: cover;
    }
    .concept{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        align-items: center;
    }
    .concept .concept-item:first-child{
        display: none;
    }
    .concept-item img{
        width: 50%;
    }
    .concept__title{
        margin-top: 10px;
        font-size: 25px;
    }
    .concept__subtitle{
        font-size: 20px;
    }
}

@media only screen and (max-width:600px){

}